*.swp
*~
*.la
*.lo
*.o
*.so
*.stamp
*.bak
*.pyc
*.pc
.deps
.libs/
Makefile
Makefile.in
compile
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
INSTALL
aclocal.m4
autom4te.cache
depcomp
gtk-doc.make
install-sh
libtool
ltmain.sh
missing
stamp-h1
shave
shave-libtool
doc/reference/version.xml
doc/reference/xml/
doc/reference/tmpl/
doc/reference/html/
catalina/Catalina-1.0.gir
catalina/Catalina-1.0.typelib
catalina/catalina-version.h
doc/reference/catalina.*
doc/reference/*.txt
tests/storage-tests
tests/binary-formatter-tests
tests/zlib-transform-tests
tests/storage-tests.db
tests/log.*
